/* Обнуляющие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Times New Roman";
}

body#main-menu {
  background-color: #021041;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  text-align: justify;
  text-indent: 5%;
}

.main-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.back-video {
  width: 100%;
  height: 85%;
  object-fit: cover;
}

.back-full-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bac-arrow {
  position: absolute;
  bottom: 10vh;
  /* left: 1.5vw; */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  cursor: pointer;
}

.bac-arrow img {
  transform: rotate(-180deg);
  width: 1.5vw;
}

.gradient-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
      #021041 0%,
      #021041a2 3%,
      transparent 50%,
      #021041 97%,
      #021041 100%);
}

.top-gyoly {
  position: absolute;
  top: 5vh;
  left: 0;
  width: 100%;
  opacity: 0.3;
}

.over-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(255, 0, 0, 0.384); */
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main-menu-padding {
  padding-top: 7vh;
  padding-bottom: 10vh;
}

.poet-poem-padding {
  padding-top: 5vh;
  padding-bottom: 20vh;
}

.poet-main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-bottom: 10vh;
}

.menu-block {
  position: relative;
  width: 82%;
  height: 25%;
  /* background-color: rgba(0, 0, 255, 0.418); */
  /* border: 3px solid blue; */
}

#main-menu .title-block {
  width: 70%;
  height: 16%;
}

#poet-poem-page .title-block {
  width: 50%;
  height: 16%;
}

.title-block img,
.menu-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu-block .menu-back-img {
  position: absolute;
  bottom: 0;
  width: 100%;
  object-fit: contain;
}

.menu-block-row {
  position: absolute;
  top: -13%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  height: 130%;
  /* background-color: rgba(255, 166, 0, 0.658); */
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13%;
  height: 100%;
  cursor: pointer;
  transform: scale(0);
  animation: expandBlock 1s 1s forwards ease-out;
  will-change: transform;
}

.poet-menu-item {
  width: 19%;
}

.menu-item img {
  transition: all 0.3s ease-out;
}

.menu-item:active img {
  transform: scale(0.8);
}

.menu-item:focus img {
  transform: scale(0.8);
}

.menu-item img:hover {
  transform: scale(0.8);
}

@keyframes expandBlock {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.poet-main-menu-row {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.poem-main-block {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 9vh;
  /* height: 1000px; */
  /* background-color: rgba(255, 255, 0, 0.575); */
}

.poem-main-block-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1450px;
  height: 940px;
  /* background-color: rgba(255, 0, 0, 0.5); */
}

.poem-block-item-btn {
  width: 100%;
  height: 40px !important;
  /* background-color: blue; */
  margin-bottom: 35px;
  font-size: 5vh;
  cursor: pointer;
}

.poem-item-img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px !important;
  /* background-color: orangered; */
}

.poem-item-img img {
  /* width: 100%; */
  height: 100%;
  object-fit: contain;
}

.poem-main-block .slick-list {
  height: 350px !important;
}

.poem-info-block {
  position: relative;
  width: 100%;
  /* height: 1060px; */
  color: white;
  font-size: 2vh;
}

.poem-info-block img {
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
}

.poem-main-block-cover {
  position: relative;
  height: 1200px;
  display: flex;
  align-items: flex-end;
}

.container-for-poem {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 10;
}

.owl-carousel .slick-list {
  height: 570px !important;
}

.owl-carousel .slick-track {
  top: 3%;
}

.owl-carousel .slick-center {
  transition: all 0.5s ease;
}

.owl-carousel  .center .card-container {
  opacity: 1;
}

.owl-carousel {
  position: absolute !important;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5000px;
  height: 1500px;
  display: flex !important;
  align-items: center;
  /* background-color: red; */
  overflow-x: hidden;
}

.card-container {
  perspective: 2000px;
  width: 250px;
  height: 330px !important;
  margin: 70px;
  opacity: 0.3;
  cursor: pointer;
  transition: transform, opacity 0.2s ease-in-out;
}

.card-container.slick-center {
  transform: scale(1.2);
  transform-origin: center;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  /* transition: transform 2s ease-in-out; */
}

.card-face {
  position: absolute;
  width: 70%;
  height: 100%;
  backface-visibility: hidden;
}

.card-face img {
  width: 100%;
  object-fit: contain;
}

.front {
  transform: rotateY(0deg) translateZ(80px);
}

.back {
  transform: rotateY(180deg) translateZ(80px);
}

.left {
  transform: rotateY(-90deg) translateZ(80px);
}

.right {
  transform: rotateY(90deg) translateZ(80px);
}

.text-container {
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28%;
  height: 50%;
  overflow-y: scroll;
}

.text-container-big {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 60%;
  overflow-y: scroll;
}

.text-container-medium {
  width: 20%;
}

.grand-page .text-container-big,
.g-grand-page .text-container-big {
  top: 50%;
}

.text-container-min {
  position: relative;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 68%;
  overflow-y: scroll;
}

.text-container-min .scrolling-text {
  font-size: 4vh;
}

.text-container::-webkit-scrollbar {
  width: 6px;
}

.text-container::-webkit-scrollbar-track {
  background: #00237394;
  border-radius: 10px;
}

.text-container::-webkit-scrollbar-thumb {
  background-color: #0f2c01;
  border-radius: 10px;
}

.text-container-big::-webkit-scrollbar {
  width: 6px;
}

.text-container-big::-webkit-scrollbar-track {
  background: #863823;
  border-radius: 10px;
}

.text-container-big::-webkit-scrollbar-thumb {
  background-color: #b3833e;
  border-radius: 10px;
}

.grand-page .text-container-big::-webkit-scrollbar {
  width: 6px;
}

.grand-page .text-container-big::-webkit-scrollbar-track {
  background: #120c64;
  border-radius: 10px;
}

.grand-page .text-container-big::-webkit-scrollbar-thumb {
  background-color: #0149cd;
  border-radius: 10px;
}

.g-grand-page .text-container-big::-webkit-scrollbar {
  width: 6px;
}

.g-grand-page .text-container-big::-webkit-scrollbar-track {
  background: #002a22;
  border-radius: 10px;
}

.g-grand-page .text-container-big::-webkit-scrollbar-thumb {
  background-color: #004136;
  border-radius: 10px;
}

.text-container-big .scrolling-text,
.text-container-min .scrolling-text {
  bottom: 0;
}

.text-container-min::-webkit-scrollbar {
  width: 6px;
}

.text-container-min::-webkit-scrollbar-track {
  background: #001400;
  border-radius: 10px;
}

.text-container-min::-webkit-scrollbar-thumb {
  background-color: #3c8c21;
  border-radius: 10px;
}

.scrolling-text {
  position: absolute;
  /* bottom: -100%;  */
  bottom: 0%;
  width: 100%;
  height: 100%;
  font-size: 4vh;
  font-weight: 600;
  color: #edf4ec;
  opacity: 1;
  text-align: center;
  /* animation: moveUp 80s 3.5s linear infinite; */
}

.scrolling-text p {
  margin-bottom: 5%;
}

.mr-l {
  margin-left: 5%;
}

.text-container-big .scrolling-text .mr-b {
  margin-bottom: 2%;
}

.txt-right {
  text-align: right;
  font-size: 4vh;
}

.txt-left {
  text-align: left;
}

.text-container-big .scrolling-text p {
  margin-bottom: 0;
}

.regular {
  font-weight: 400;
}

.oguzhan {
  /* animation: moveUp2 90s 3.5s linear infinite; */
}

.poem-text-block::-webkit-scrollbar {
  width: 6px;
}

.poem-text-block::-webkit-scrollbar-track {
  background: #00237394;
  border-radius: 10px;
}

.poem-text-block::-webkit-scrollbar-thumb {
  background-color: #0f2c01;
  border-radius: 10px;
}

@keyframes moveUp {
  0% {
    bottom: -100%;
    opacity: 0;
  }

  7% {
    bottom: -50%;
    opacity: 1;
  }

  14% {
    bottom: 0%;
    opacity: 1;
  }

  21% {
    bottom: 50%;
    opacity: 1;
  }

  28% {
    bottom: 100%;
    opacity: 1;
  }

  35% {
    bottom: 150%;
    opacity: 1;
  }

  42% {
    bottom: 200%;
    opacity: 1;
  }

  49% {
    bottom: 250%;
    opacity: 1;
  }

  56% {
    bottom: 300%;
    opacity: 1;
  }

  63% {
    bottom: 350%;
    opacity: 1;
  }

  70% {
    bottom: 400%;
    opacity: 1;
  }

  77% {
    bottom: 450%;
    opacity: 1;
  }

  84% {
    bottom: 500%;
    opacity: 1;
  }

  91% {
    bottom: 550%;
    opacity: 0;
  }

  100% {
    bottom: 600%;
    opacity: 0;
  }
}

@keyframes moveUp2 {
  0% {
    bottom: -100%;
    opacity: 0;
  }

  5% {
    bottom: -50%;
    opacity: 1;
  }

  10% {
    bottom: 0%;
    opacity: 1;
  }

  20% {
    bottom: 70%;
    opacity: 1;
  }

  30% {
    bottom: 120%;
    opacity: 1;
  }

  40% {
    bottom: 240%;
    opacity: 1;
  }

  50% {
    bottom: 360%;
    opacity: 1;
  }

  60% {
    bottom: 480%;
    opacity: 1;
  }

  70% {
    bottom: 600%;
    opacity: 1;
  }

  80% {
    bottom: 720%;
    opacity: 1;
  }

  90% {
    bottom: 860%;
    opacity: 0.95;
  }

  100% {
    bottom: 960%;
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

.slide-out {
  animation: slideOut 0.5s forwards;
}

.poem-text-block {
  position: absolute;
  top: 10%;
  left: 13%;
  width: 80%;
  height: 71%;
  font-size: 2.4vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.poem-text-block .last-item {
  margin-bottom: 2vh;
}

#magtymguly,
.poet-poem-page {
  background-color: #692d11;
}

#history-page {
  background-color: #0d370b;
}

.g-grand-page {
  background-color: #00201a;
}

#grand,
.grand-page {
  background-color: #140c65;
}

.two-part-menu-row {
  display: flex;
  justify-content: center;
  gap: 15%;
  width: 100%;
  height: 97%;
  /* height: 30%; */
  /* background-color: rgba(255, 0, 0, 0.342); */
}

.row-item {
  position: relative;
  width: 35%;
  height: 100%;
}

.row-item div {
  cursor: pointer;
  transition: all 0.5s ease;
}

.row-item div:hover {
  transform: scale(0.9);
}

.image-g-1 {
  position: absolute;
  top: 7%;
  left: 0;
  width: 57%;
  animation: slide-in-right 1s ease-out;
}

.image-g-2 {
  position: absolute;
  top: 33%;
  left: 45%;
  width: 32%;
  animation: slide-in-right 1s ease-out;
}

.image-g-3 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  animation: slide-in-right 1s ease-out;
}

.image-g-1 img {
  width: 100%;
  object-fit: contain;
}

.image-g-2 img {
  width: 100%;
  object-fit: contain;
}

.image-g-3 img {
  width: 100%;
  object-fit: contain;
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.image-g-6 {
  position: absolute;
  top: 7%;
  right: 0;
  width: 57%;
  animation: slide-in-left 1s ease-out;
}

.image-g-4 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35%;
  animation: slide-in-left 1s ease-out;
}

.image-g-5 {
  position: absolute;
  top: 33%;
  left: 23%;
  width: 32%;
  animation: slide-in-left 1s ease-out;
}

.image-g-6 img {
  width: 100%;
  object-fit: contain;
}

.image-g-5 img {
  width: 100%;
  object-fit: contain;
}

.image-g-4 img {
  width: 100%;
  object-fit: contain;
}

#great-grand {
  background-color: #00241e;
}

.military {
  background-color: #06330f;
}

.center-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.military-slider {
  width: 550px;
  height: 500px;
  margin-top: 10vh;
  /* background-color: rebeccapurple; */
}

.military-slider .slick-list {
  height: 700px !important;
  overflow-y: hidden;
}

.military-slide img {
  cursor: default;
  width: 550px;
  opacity: 0.3;
}

.harby-mb {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

.harby-mb img {
  width: auto;
  height: 120px;
  object-fit: contain;
  margin: auto;

}

.harby-mb.medal img {
  width: 160px;
}

.military-slide {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.military-slide-container.slick-center .military-slide img {
  opacity: 1;
}

.medal {
  list-style-type: decimal;
}

@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.td {
  background-color: #7c4502;
}

/* .menu-gb.menu-back-img{
    height: 100%;
} */

@media screen and (min-width: 7000px) and (min-height: 4320px) {
  .menu-block-row {
    top: 7%;
  }
}

@media screen and (min-width: 7000px) and (min-height: 2159px) {
  .menu-block-row {
    top: -16% !important;
  }
}

@media screen and (min-height: 2000px) {
  .menu-block-row {
    top: 7%;
  }

  .menu-block-row.gb-menu {
    top: -44% !important;
  }

  .image-g-1 {
    left: -70px;
  }

  .image-g-2 {
    left: 39%;
  }

  .image-g-3 {
    right: 140px;
  }

  .image-g-5 {
    left: 29%;
  }

  .image-g-4 {
    left: 140px;
  }

  .image-g-6 {
    right: -70px;
  }

  .scrolling-text {
    font-size: 4vh;
  }

  .mb-info.poem-main-block-cover {
    height: 100%;
  }

  .mb-info.poem-block-item-btn {
    margin-bottom: 40px;
    height: 230px !important;
  }

  .mb-info.poem-block-item-btn .poem-item-img {
    height: 100% !important;
  }

  .mb-info.poem-text-block {
    top: 19%;
    left: 25%;
  }
}

@media screen and (min-width: 3000px) {
  .row-item {
    width: 45%;
  }

  .two-part-menu-row {
    height: 20%;
  }

  .td-item {
    width: 100%;
  }

  .td-item img {
    width: 100%;
  }

  .td-container {
    width: 1260px !important;
  }

  .menu-block-row {
    top: 10%;
  }
}

.text-container.heroes {
  width: 20%;
}

@media screen and (min-width: 3900px) and (max-width: 7900px) {
  .menu-block {
    height: 23%;
  }

  .menu-block-row.gb-menu {
    top: -39%;
    width: 48%;
  }

  .menu-block-row.gb-menu .menu-item {
    width: 33%;
  }

  .poem-main-block.mb-info {
    width: fit-content;
  }

  .poem-main-block.mb-info .slick-list {
    height: 100%;
  }

  .scrolling-text.heroes {
    bottom: unset !important;
  }

  .text-container.heroes {
    width: 20%;
  }

  .td-container {
    width: 1620px;
    height: 100%;
    margin: 0 auto;
    /* margin-top: 15vh; */
  }

  .two-part-menu-row {
    height: 37% !important;
  }
}

.img-title-big img {
  width: 800px;
  height: 150px;
  position: fixed;
  margin: -200px -5%;
}

@media screen and (max-width: 4000px) {
  .text-container.heroes {
    width: 30%;
  }

  .scrolling-text.heroes {
    font-size: 4vh;
  }

  .poem-main-block {
    width: 85%;
  }

  .poem-main-block.mb-info {
    width: 16.5%;
    margin-top: 20px;
  }

  .poem-item-img {
    height: 45px !important;
  }

  .poem-main-block-item {
    width: 430px;
    height: 480px;
  }

  .mb-info.poem-block-item-btn .poem-item-img {
    height: 65px !important;
  }

  .poem-main-block-cover {
    height: 500px;
  }

  .td-container {
    width: 1660px;
    height: 100%;
    margin: 0 auto;
    /* margin-top: 15vh; */
  }

  .image-title {
    width: 80%;
    height: 150px;
    margin: -220px auto 50px;
  }

  .image-title img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .gb-menu.menu-block {
    height: 30.5%;
    /* width: ; */
  }

  .gb-menu.menu-block-row {
    width: 50%;
    height: 90% !important;
  }

  .gb-menu.menu-block-row .menu-item {
    width: 38%;
  }

  .img-title-big img {
    width: 23%;
    height: 120px;
    position: fixed;
    margin: -260px -2%;
  }

  .menu {
    width: 100% !important;
    height: 500px !important;
  }
}

.t1 {
  width: 20% !important;
}

@media screen and (max-width: 1920px) {
  .text-container-min {
    width: 40%;
  }

  .military-slider {
    width: 650px;
    height: 700px;
    margin-top: 10vh;
  }

  .military-slider .slick-list {
    height: 700px !important;
  }

  .military-slide img {
    width: 650px;
  }

  .military-slide {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .row-item {
    width: 40%;
  }

  .two-part-menu-row {
    height: 15%;
    gap: 32%;
    margin-bottom: 1vh;
  }

  .scrolling-text {
    font-size: 35px;
  }

  .poem-main-block {
    margin-bottom: 15vh;
  }

  .poem-text-block {
    font-size: 18px;
  }

  .poem-main-block-item {
    width: 380px;
    height: 350px;
  }

  .mb-info.poem-main-block-item {
    /* width: unset; */
    height: 100%;
  }

  .poem-block-item-btn {
    height: 40px !important;
    margin-bottom: 20px;
  }

  .poem-item-img {
    height: 40px !important;
  }

  .poem-main-block .slick-list {
    height: 350px !important;
  }

  .poem-main-block-cover {
    height: 350px;
  }

  .menu-block-row {
    top: 7%;
  }

  .owl-carousel .slick-list {
    height: 510px !important;
  }

  .owl-carousel {
    width: 1700px;
    height: 510px;
    /* background-color: rebeccapurple; */
  }

  .card-container {
    perspective: 2000px;
    width: 200px;
    height: 420px !important;
    margin: 45px;
  }

  .front {
    transform: rotateY(0deg) translateZ(100px);
  }

  .back {
    transform: rotateY(180deg) translateZ(100px);
  }

  .left {
    transform: rotateY(-90deg) translateZ(100px);
  }

  .right {
    transform: rotateY(90deg) translateZ(100px);
  }

  .td-container {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    /* margin-top: 15vh; */
  }

  .td-item {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 130px;
    cursor: pointer;
    margin: 0 auto;
  }

  .td-item::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 25px;
    left: 60px;
    width: 80%;
    height: 93%;
    filter: blur(20px);
  }

  .td-item img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .image-title {
    width: 60%;
    height: 150px;
    margin: -50px auto 50px;
  }

  .image-title img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .menu-block-row.gb-menu {
    top: -11%;
    height: 140%;
    width: 50%;
  }

  .menu-block-row.gb-menu .menu-item {
    width: 33%;
  }

  .poem-main-block.mb-info {
    width: fit-content;
  }

  .poem-main-block.mb-info .slick-list {
    height: 100% !important;
  }

  .mb-info.poem-main-block-cover {
    height: unset;
  }

  .mb-info.poem-block-item-btn {
    height: 100px !important;
  }

  .mb-info.poem-block-item-btn .poem-item-img {
    height: 100% !important;
  }

  .mb-info.poem-text-block {
    top: 19%;
  }

  .mb-info.poem-block-item-btn {
    position: relative;
  }

  .mb-info.poem-block-item-btn .poem-info-block {
    position: absolute;
    top: 0;
  }

  .text-container.heroes {
    width: 38%;
  }
}

.td-item {
  height: 120px !important;
  width: 20%;
  margin: 0 auto -20px;
}

.td-item img {
  width: 100%;
  object-fit: cover;
  height: 80px;
}

.td-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.text-container.heroes {
  width: 20%;
}


.hero-title {
  font-weight: bold;
  font-size: 44px;
  color: goldenrod;
  position: absolute;
  top: 105px;
  min-width: 20%;
  left: 53.5%;
  transform: translateX(-50%);
}

.date-title{
  position: absolute;
  width: 20%;
  color: goldenrod;

}